<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ramal/IdeaProjects/LearningSeleniumATB9X">
        <classes><class name="com.thetestingacademy.ex01_SeleniumBasics.TestSelenium01">
            <methods><include name="test_Selenium01"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>